mat-sidenav-container
{
    height: 100%;
    min-height: 600px;
}

mat-sidenav
{
    background-color: white;
    width: 200px;
}


mat-list-item
{
    color: #b1b8bd !important;
    &:hover
    {
        color: #19b5fe !important;
        /*background: white !important;*/
    }

}

.active
{
    mat-list-item
    {
        color: #19b5fe !important;
    }
}

mat-sidenav-content
{
    padding: 0px 40px ;
}