<mat-sidenav-container>

  <mat-sidenav mode="side" #sideNav>
    <mat-nav-list>
      <h2 matHeader> Heading </h2>
      
      
      <a routerLink="/home" routerLinkActive="active">
        <mat-list-item>
            <mat-icon matListIcon>home</mat-icon>
            Home
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <a routerLink="/login" routerLinkActive="active">
        <mat-list-item>
          <mat-icon matListIcon>add</mat-icon>
          New ticket
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
      <button mat-button (click)="sideNav.toggle()">
          <mat-icon matListIcon>menu</mat-icon>
      </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>