.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .input-full-width {
    width: 100%;
    margin: 0px auto;
  }

  .login-card {
    max-width: 400px;
    margin: 50px auto;
  }

  .card-body-inputs
  {
    text-align: center;
  }

  .card-body
  {
    padding:40px 30px;
  }

