<div class="card login-card">
    <div class="card-body">
      <div class="card-body-inputs">
        <mat-form-field class="input-full-width">
            <input matInput placeholder="username" value="" required>
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="this.invalid">Enter Username</mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-width">
            <input matInput placeholder="password" type="password" value="">
            <mat-icon matSuffix>https</mat-icon>
        </mat-form-field>
      </div>
      <button mat-raised-button class="light-blue" style="border-radius:0px;"
      (click)="openSnackBar('Login Failed, Check username/password', 'close')">Login</button>
    </div>   
</div>

