/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body
{
    margin: 0px;
}

.light-blue
{
    background-color: #31ade7;
    color:white;
}

mat-card-title
{
  font-weight: bolder;
}

mat-card-header
{
    background-color: #31ade7;
    padding: 10px;
    color: white;
    vertical-align: middle;   
}

mat-card-content , mat-card-actions
{
    padding: 40px;
}

.card {
    padding:0px !important;
    .card-header
    {
        background-color: #31ade7;
        color: white;
    }
  }

  .row {
	display: flex;
	flex-wrap: wrap;
	margin-right: 0px !important;
	margin-left: 0px !important;
}

